.index-content ul li{float:left; margin:0 18px 15px 0; position:relative;}
.index-content{padding:25px 0 10px 13px;}
.index-content ul li.li1{margin-right:24px;}
.index-content ul li.li2, .index-content ul li.li5{margin-right:0px;}
.index-content ul li a i{display:none;}
.index-content ul li a:hover i.i1{display:block; position:absolute; background:#FFF; left:0; top:0; display:block; filter:alpha(opacity=40); opacity:0.4; z-index:1;}
.index-content ul li a:hover i.i2{position:absolute; background:url(../images/plus.png) center center no-repeat; left:0; top:0; display:block;  z-index:2;}
.index-content ul li.li1 a:hover i.i1, .index-content ul li.li1 a:hover i.i2, .index-content ul li.li2 a:hover i.i1, .index-content ul li.li2 a:hover i.i2{width:474px; height:260px;}
.index-content ul li.li3 a:hover i.i1, .index-content ul li.li3 a:hover i.i2, .index-content ul li.li4 a:hover i.i1, .index-content ul li.li4 a:hover i.i2, .index-content ul li.li5 a:hover i.i1, .index-content ul li.li5 a:hover i.i2{width:312px; height:234px;}

/* 幻灯片 BEGIN*/


#slides {
	position:relative;
	z-index:100;
	width:1003px;
	height:500px;
}

#slides .prev {
	position:absolute;
	top:0px;
	left:0px;
	width:501px;
	height:500px;
	display:block;
	z-index:101;
	filter:alpha(opacity=0);
	opacity:0;
	background:url("../images/arrow-prev.png") left center no-repeat;
}
#slides .next{
	position:absolute;
	top:0px;
	left:500px;
	width:502px;
	height:500px;
	display:block;
	z-index:101;
	filter:alpha(opacity=0);
	opacity:0;
	text-align:right;
	background:url("../images/arrow-next.png") right center no-repeat;
}
#slides .prev img, #slides .next img{border:none;}
#example .hover a.next:hover, #example .hover a.prev:hover{
	filter:alpha(opacity=100);
	opacity:1.0;
	}

.slides_container {
	width:1003px;
	height:500px;
	overflow:hidden;
	position:relative;
}


.pagination {
	display:none;
}
/*
.pagination li {
	float:left;
	margin:0 1px;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../img/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}*/

.pagination li.current a {
	background-position:0 -12px;
}

.caption {
	position:absolute;
	bottom:-35px;
	height:30px;
	padding:5px 20px 0 20px;
	background:#000;
	background:rgba(0,0,0,.5);
	width:540px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	border-top:1px solid #000;
	text-shadow:none;
}

#slides .prevNext { width: 501.5px; height: 500px; position: absolute; top: 0px; cursor: pointer; }
#slides .prev { width: 501.5px; height: 500px;left: 0; background: url(../images/arrow-prev.png) no-repeat left center; }
#slides .next { width: 501.5px; height: 500px;right: 0; background: url(../images/arrow-next.png) no-repeat right center; }
/*  幻灯片 END */